@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Bienvenido</h1>
    <p>Para usar una funcionalidad, clickea encima de cualquiera de las opciones del menu <i style="font-size: 20px" class="fa-solid fa-arrow-turn-up"></i></p>
</div>
